*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(102, 185, 220);
}


.register-mentee-container {
  height: 500px;
    width: 400px;
    background-color: #eee;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    cursor: pointer;
}

.maintext {
    text-align: center;
    color: grey;
    margin-top: 10px;
    font-size: 160%;
    
}


.input-container {
    display: block;
    border: none;
}

.input-container label {
    display: block;
    text-align: left;
    color: grey;
    font-size: 130%;
    font-weight: bolder;
}

.input-container label::placeholder{
    color: grey;
}

.input-container input {
    display: block;
    border: none;
    border-radius: 10px;
    height: 55px;
    width: 360px;
    position: absolute;
    align-items: start;
    align-self: self-start;
}

.input-container input::placeholder{
    color: grey;
    font-size: 18px;
}

.input-container input:focus{
    outline: none !important;
    /* border:1px solid rgba(8,7,16,0.6); */
    box-shadow: 0 0 10px rgba(8,7,16,0.6);
  }

.input-container .skill {
    display: block;
    text-align: left;
    color: grey;
    font-size: 130%;
    font-weight: bolder;
    margin-top: 90px;
}


.input-container select {
    background-color: white;
    display: block;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 360px;
    position: absolute;
    margin-top: 20px;
    font-size: 18px;
    color: grey;
    
}



.input-container select:focus{
    outline: none !important;
    /* border:1px solid rgba(8,7,16,0.6); */
    box-shadow: 0 0 10px rgba(8,7,16,0.6);
}




.register-mentee-container button {
    background-color: #0056b3; 
    color: #fff; 
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 16px; 
    margin-top: 130px;
    width: 360px;
    height: 45px;
}

.register-mentee-container button:hover {
    background-color: rgb(102, 185, 220); 
}
